* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

.sb-container {
    display: inline-block;
    margin: 20px auto;
    overflow: hidden;
}

.sb-field {
    width: 440px;
    height: 440px;
    background-color: #000;
    position: relative;
    border: solid 20px #CCC;
    background-image:
        linear-gradient(45deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05)),
        linear-gradient(45deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05));
    background-size: 80px 80px;
    background-position: 0 0, 40px 40px;
}

.sb-object {
    position: absolute;
    left: -100%;
    top: -100%;
    width: 10%;
    height: 10%;
}

.sb-object::after {
    content: '';
    display: block;
    position: absolute;
    left: -50%;
    top: -50%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    text-align: center;
    line-height: 36px;
    vartical-align: middle;
}

.sb-ball::after {
    background: #FFF;
}

.sb-team-1::after {
    background-color: #1b3f0d;
    color: #73ff0c;
}

.sb-team-2::after {
    background-color: #612b2d;
    color: #ff3aae;
}

.sb-player::after {
    content: attr(data-num);
    border-width: 2px;
    border-style: solid;
}

.sb-timeline {
    position: relative;
    margin-top: 10px;
    background: #CCC;
    width: 440px;
    height: 20px;
}

.sb-timelne__loaded {
    position: absolute;
    background-color: #74afd4;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
}

.sb-timelne__played {
    position: absolute;
    background-color: #297ee8;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
}